@page "/employee"

<h2>Employee Details</h2>

@if (employees == null)
{
    <p><em>Loading Employees...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.Name</td>
                    <td>@employee.Role</td>
                </tr>
            }*@
            <Virtualize Items="employees" Context="employee">
                    <tr>
                        <td>@employee.EmployeeId</td>
                        <td>@employee.Name</td>
                        <td>@employee.Role</td>
                    </tr>
            </Virtualize>
        </tbody>
    </table>
}

@code {
    private List<EmployeeDetails> employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await GetEmployeeDetails();
    }

    private async Task<List<EmployeeDetails>> GetEmployeeDetails()
    {
        List<EmployeeDetails> employeeList = new List<EmployeeDetails>();
        List<string> roleList = new List<string>() { ".Net Developer", "Testing Engineer", "Graphic Designer", "Techincal Writer", "Support Coordinator" };
        int roleArrayIndex = 0;
        int tempCount = 0;
        int employeeDataCount = 10000;

        for (int i = 1; i <= employeeDataCount; i++)
        {
            if (i > tempCount + employeeDataCount / roleList.Count())
            {
                roleArrayIndex++;
                tempCount = i - 1;
            }

            var employeeDetails = new EmployeeDetails()
            {
                EmployeeId = i,
                Name = "Employee " + i.ToString(),
                Role = roleList[roleArrayIndex]
            };

            employeeList.Add(employeeDetails);
        }
        return await Task.FromResult(employeeList);
    }

    public class EmployeeDetails
    {
        public int EmployeeId { get; set; }

        public string Name { get; set; }

        public string Role { get; set; }
    }
}
